
<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="addTodo()">
        <mat-divider></mat-divider>
        <mat-form-field>
            <mat-label>Task: </mat-label>
            <input matInput placeholder="Add Todo" formControlName="task">
        </mat-form-field>
        <div>
            <mat-label>Priority: </mat-label>
            <mat-radio-group arial-label="Select an Option" formControlName="priority">
                <mat-radio-button *ngFor="let p of priorities" value="{{p}}">{{p}}</mat-radio-button> 
            </mat-radio-group>
        </div>
        <div>
            <button title="Click here to start recording action" class="btn-mic w-auto" (click)="startRecording()"
            *ngIf="!isRecording" style="margin-right: 3px;">
            <img src="../../assets/mic.png" />
            </button>
            <button title="Click here to stop recording" class="btn-stop w-auto" (click)="stopRecording()" *ngIf="isRecording"
            style="margin-right: 3px;">
            <img src="../../assets/stop.png" />
            </button>
        </div>
        <audio #audioPlayer controls style="margin: 10px;"></audio>
        <a *ngIf="audioURL" [href]="audioURL" download="recorded_audio.wav">Download last reecorded Audio</a>
         <div class="button-container">
            <button mat-raised-button color="primary" *ngIf="!editMode" type="submit">Add</button>
            <button mat-raised-button color="primary" *ngIf="editMode" type="button" (click)="updateTodo()">Update</button>
            <button mat-raised-button color="primary" *ngIf="editMode" type="button" (click)="cancelUpdateTodo()">Cancel</button>
        </div>
    </form>
</div>