.strikethrough {
    text-decoration: line-through;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 20px;
  
}


.audio-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  
}