<!-- list of todos-->
<div class="list-container">
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item *ngFor="let todo of (tasks$ | async)">
            <div class="audio-container">
                <mat-checkbox *ngIf="todo.status== 0" (change)="toggleComplete(todo.id!)" >{{todo.description}}</mat-checkbox>
                <mat-checkbox *ngIf="todo.status== 1" (change)="toggleUndo(todo.id!)" [checked]="todo.status == 1"
                ><p class="strikethrough">{{todo.description}}</p></mat-checkbox>
                &nbsp;
                <audio src="{{todo.audiofile}}" controls></audio>
                
                <button mat-icon-button (click)="edit(todo)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(todo)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            
        </mat-list-item>
    </mat-list>
</div>